<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.css" rel="stylesheet">
    <title>Reset password</title>
</head>
<body class="h-100">
<div class="d-flex justify-content-center align-items-center h-100">
    <section class="text-center">
        <h3 class="mb-3">
            {% if auth %}Your account password has been reset. Please make changes in time{% else %}Link expired{% endif %}
        </h3>
        <a class="btn btn-dark" href="/">Back to main page</a>
    </section>
</div>
</body>
</html>